{% extends 'app/base.html' %}

{% block content %}

    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> <strong>THRIVE CX </strong></h3>

            <br>

            <h5> Cultivating Connections. Building Lasting Relationships. </h5>

            <hr>

            <br>

            <a 
                class="btn btn-primary" 
                type="button" 
                href="{% url 'register' %}"> 
                Create your account &nbsp; 
                <i class="fa fa-user-plus" aria-hidden="true"></i> 
            </a>

        </div>

    </body>

    <footer class="py-3" style="position: fixed; bottom: 0; left: 0; font-size: smaller;">
        &nbsp; &nbsp; &copy; johnfritzel 2024
    </footer>     

{% endblock %}