{% extends 'app/base.html' %}

{% block content %}

<div class="row justify-content-center">
    
    <div class="col-md-6">

        <a 
            href="{% url 'dashboard' %}" 
            class="btn btn-dark"> 
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            &nbsp; Back   
        </a>

        <br>

        <br>

        <div class="card bg-light">

            <div class="card-body">

                <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

                <strong>

                    {{record.last_name|upper}},
                    
                    {{record.first_name|upper}}
        
                </strong>
        
                <hr>
        
                <p> <strong> ID: </strong> {{record.id}} </p>

                <p> <strong> Email address: </strong> {{record.email_address}} </p>

                <p> <strong> Phone number: </strong> {{record.phone_number}} </p>

                <p> <strong> Address: </strong> {{record.address}} </p>

                <p> <strong> City: </strong> {{record.city}} </p>

                <p> <strong> Province: </strong> {{record.province}} </p>

                <p> <strong> Country: </strong> {{record.country}} </p>

                <p> <strong> Date joined: </strong> {{record.creation_date}} </p>

            </div>

        </div>

        <br>

        <a href="{% url 'update-record' record.id %}" class="btn btn-info"> Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>
    
        &nbsp; &nbsp; &nbsp; 
    
        <a href="{% url 'delete-record' record.id %}" class="btn btn-danger"> Delete &nbsp; <i class="fa fa-trash-o" aria-hidden="true"></i> </a>
    
    </div>

</div>

{% endblock %}